<html style="font-size: 16px;" class="u-responsive-xl">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Creative Portfolio">
  <meta name="description" content="">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
</head>

<body class="u-body">
  <section class="u-align-center u-clearfix u-section-2" id="sec-b221">
    <div class="u-expanded-width u-grey-5 u-shape u-shape-rectangle u-shape-1"></div>
    <div alt="" class="u-border-8 u-border-white u-image u-image-circle u-image-1"></div>

    <h2 class="u-text u-text-1">
      Ahmad <b>Amri</b> Sanusi
    </h2>

    <p class="u-text u-text-2">
      I'm easy going, fast learner
      and open minded person.
      For me being honest in our
      life is so important. I love to
      learn new things in tech
      stack and programming.
    </p>

    <!-- <a href="#"
      class="u-active-none u-border-2 u-border-black u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-2">
      read more
    </a> -->

    <div style="padding: 40px; margin: auto;">
      <hr style="width: 50%; border-top: solid 1px silver !important; border: none;" \>
    </div>
    
    <h3 class="u-text u-text-1 u-text-1a">
      WORK EXPERIENCE
    </h3>

    <i class="material-icons" style="margin-top: 20px;">bookmarks</i>
    <h5 class="u-text u-text-1 u-text-1b u-text-bold">
      Lead Software Engineer
    </h5>
    <h6 class="u-text u-text-1 u-text-1c">
      PT. Bursa Interaktif Gemilang | Feb 2020 - Present
    </h6>
    <p class="u-text u-text-2">
      Manage all IT projects, designing system structure & database,
perform analysis to solve problems, and assisting & mentoring our
IT team members. Still responsible for apps development
    </p>

    <i class="material-icons" style="margin-top: 20px;">bookmarks</i>
    <h5 class="u-text u-text-1 u-text-1b u-text-bold">
      Senior Software Engineer
    </h5>
    <h6 class="u-text u-text-1 u-text-1c">
      PT. Bursa Interaktif Gemilang | Feb 2019 - Jan 2020
    </h6>
    <p class="u-text u-text-2">
      Developed android apps using React Native with NodeJS RESTful API. 
      Developed NodeJS RESTful API or solving problems from existing API.
    </p>

    <div style="padding: 40px; margin: auto;">
      <hr style="width: 50%; border-top: solid 1px silver !important; border: none;" \>
    </div>
    
    <h3 class="u-text u-text-1 u-text-1a">
      EDUCATION
    </h3>

    <i class="material-icons" style="margin-top: 20px;">bookmarks</i>
    <h5 class="u-text u-text-1 u-text-1b u-text-bold">
      Bachelor of Information System
    </h5>
    <h6 class="u-text u-text-1 u-text-1c">
      Gunadarma University | GPA 3,35
    </h6>

    <div style="padding: 40px; margin: auto;">
      <hr style="width: 50%; border-top: solid 1px silver !important; border: none;" \>
    </div>
    
    <h3 class="u-text u-text-1 u-text-1a" style="margin-bottom: 20px;">
      CONTACTS
    </h3>

    <div style="display: flex; width: 240px; justify-content: space-evenly; margin: auto">
      <a href="https://www.linkedin.com/in/ahmad-amri-sanusi" target="_blank"><i class="devicon-linkedin-plain colored" style="font-size: 50px;"></i></a>
      <a href="https://github.com/hotaryuzaki" target="_blank"><i class="devicon-github-original colored" style="font-size: 50px;"></i></a>
      <a href="mailto:ahmadamri.id@gmail.com" target="_blank"><i class="devicon-google-plain colored" style="font-size: 50px;"></i></a>
    </div>
  </section>

  <footer class="u-align-center u-clearfix u-footer u-palette-1-base u-footer" id="sec-0f65">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">
        Let's have fun!
        <i class="material-icons" style="vertical-align: middle;">rocket_launch</i>
      </p>
    </div>
  </footer>
</body>

</html>